<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Les oeuvres</h1>
    </div>
<% @posts.each do |post| %>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <h2> <%= link_to post.title, post %></h2>
        <%= link_to post, class: "thumbnail" do %>
          <%= image_tag post.image.url, class: "img-responsive" %>
        <% end %>
        <p>
          <%= link_to @comment do %>
            <%= post.comments.count %> Commentaires
          <% end %>
        </p>
    </div>
<% end %>
</div>

<% if current_user %>
  <%= link_to "Ajouter", new_post_path, { class: "btn btn-primary" } %>
<% end %>
