<h1>
  <%= @post.title %>
</h1>
<p>
  <%= image_tag @post.image.url %>
</p>
<p>
  <%= @post.link %>
</p>
<p>
  <%= @post.description %>
</p>
<p>
  Auteur : <%= @post.user.name %>
</p>

<p><%= @post.get_upvotes.size %> J'aimes</p>
<p><%= @post.get_downvotes.size %> N'aime pas</p>


<%= link_to "J'aime", like_post_path(@post), method: :get %>
<%= link_to "Je n'aime pas", dislike_post_path(@post), method: :get %>

<div id="comment">
  <h3 class="comment_count"><%= pluralize(@post.comments.count, "commentaire") %></h3>
      <% @comments.each do |comment| %>
        <div class="comment">
          <p><%= comment.user.name %></p>
          <p><%= comment.content %></p>
        </div>
      <% end %>
</div>

<hr>

<% if current_user %>
  <%= render 'comments/form' %>
<% else %>
  <p>
    Veuillez-vous logger pour poster un commentaire.
  </p>
<% end %>
<br>

<% if current_user %>
  <%= link_to 'Modifier', edit_post_path(@post) %>
  <%= link_to 'Supprimer', post_path(@post), method: :delete, data: { confirm: "Etes-vous sur ?" } %>
<% end %>
<br>
<%= link_to 'Accueil', root_path %>
